.p-dropdown, .p-treeselect, .p-multiselect {
  width: 100%;
  min-height: 36px;
  color: #000;
  border-radius: 3.5px;
  display: flex;
  box-sizing: border-box !important;
  align-items: center;
  text-align: left;
  position: relative;

  .p-inputtext {
    border: unset;
  }
}

.p-dropdown:not(.p-disabled).p-focus, .p-treeselect:not(.p-disabled).p-focus, .p-multiselect:not(.p-disabled).p-focus {
  box-shadow: none !important;
  border-color: #1a73e8;
}

.p-dropdown:not(.p-disabled):hover, .p-treeselect:not(.p-disabled):hover, .p-multiselect:not(.p-disabled):hover {
  border-color: #1a73e8;
}

.p-inputtext {
  padding: 9px 12px !important;
}

.icon-combo--dropdown {
  border-radius: 0 4px 4px 0;
  width: 34px;
  height: 34px;
  position: relative;
}

.p-dropdown .p-dropdown-trigger,
.p-multiselect .p-multiselect-trigger {
  width: 34px !important;
  display: flex;
  justify-content: center;
  border-left: 1px solid #e0e0e0;
  align-items: center;
}

.p-dropdown .p-dropdown-trigger-icon.pi.pi-chevron-down,
.p-multiselect .p-multiselect-trigger-icon.pi.pi-chevron-down {
  width: 10px;
  height: 36px;
}

.p-dropdown .pi-chevron-down:before,
.p-multiselect .pi-chevron-down:before {
  content: "";
  height: 10px;
  top: 13px;
  position: absolute;
  width: 10px;
  display: inline-block;
  background: transparent url('@public/assets/icons/ic_drop-down.fa70eead.svg') no-repeat;
}

.icon-combo--dropdown:before {
  content: "";
  position: absolute;
  height: 10px;
  width: 10px;
  top: 14px;
  left: 12px;
  display: inline-block;
  background: transparent url('@public/assets/icons/ic_drop-down.fa70eead.svg') no-repeat;
}

.p-dropdown.p-component.p-inputwrapper.p-inputwrapper-filled .p-inputtext {
  border: none;
}

.p-dropdown-panel {
  .p-dropdown-item-label {
    color: #000;
  }
}

.p-multiselect-panel .p-multiselect-header {
  padding: 8px 16px;
}

.p-multiselect.p-multiselect-chip .p-multiselect-token {
  padding: 2px 8px;
}

.p-multiselect.error, .p-treeselect.error {
  border: 1px solid #ef5350 !important;
}

.p-multiselect:not(.p-disabled).p-focus {
  box-shadow: none !important;
  border-color: #1a73e8 !important;
}

.p-multiselect:not(.p-disabled):hover {
  border-color: #1a73e8 !important;
}

.p-dropdown.error {
  border: 1px solid #ef5350;
}

.p-dropdown-panel .p-dropdown-items .p-dropdown-item:not(.p-highlight):not(.p-disabled).p-focus, .p-multiselect-panel .p-multiselect-items .p-multiselect-item:not(.p-highlight):not(.p-disabled).p-focus {
  background: #dfebff;
  color: #000;
}

.p-dropdown-panel .p-dropdown-items .p-dropdown-item, .p-multiselect-panel .p-multiselect-items .p-multiselect-item {
  cursor: pointer;
  height: 36px;
  white-space: nowrap;
  border-radius: 4px;
  padding: 0 8px;
  margin: 0 8px 0 8px;
  color: #000 !important;

  &.p-focus {
    background: #fff;
  }

  &.p-highlight {
    background: #dfebff;
    color: #000;
  }

  &:hover {
    background: #dfebff;
  }

  &:first-child {
    margin-top: 8px;
  }

  &:last-child {
    margin-bottom: 8px;
  }
}

.p-treeselect-panel {
  box-sizing: border-box;

  .p-treeselect-items-wrapper {
    .p-tree-selectable {
      padding: unset;
    }

    .p-tree-wrapper {
      .p-tree-container {
        & > .p-treenode:first-child {
          margin-top: 8px;
        }

        & > .p-treenode:last-child {
          margin-bottom: 8px;
        }

        .p-treenode {
          cursor: pointer;
          line-height: 36px;
          white-space: nowrap;
          border-radius: 4px;
          padding: 0;
          margin: 0 8px 0 8px;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;

          &:focus {
            .p-treenode-content {
              box-shadow: unset;
            }
          }

          .p-treenode-children {
            .p-treenode {
              padding-left: 20px;
            }
          }

          .p-treenode-content {
            position: relative;
            padding: 0;
            height: 36px;
            border-radius: 4px;

            &.p-highlight {
              background: #dfebff;
              color: #000;
            }

            &.p-treenode-selectable:not(.p-highlight):hover {
              background: #dfebff;
            }

            .p-tree-toggler:enabled:hover {
              background: unset;
            }

            .p-tree-toggler {
              color: unset;
            }

            .p-treenode-label {
              position: absolute;
              left: 36px;
              color: #000;
            }
          }
        }
      }
    }
  }

  &.ms-treeselect_parent {
    .p-treenode {
      .p-treenode-content {
        .p-tree-toggler {
          width: 100%;
          height: 36px;
          z-index: 1;

          &:enabled:hover {
            background: unset;
          }

          .p-tree-toggler-icon {
            position: absolute;
            left: 10px;
          }
        }
      }
    }
  }
}

.ms-dropdown_properties-footer {
  padding: 0 16px 8px 16px;
}

.ms-dropdown-checkmark {
  .p-dropdown-items {
    .p-dropdown-item {
      .p-icon {
        display: none;
      }

      &:before {
        background: url('@public/assets/icons/ic_radio_inactive.478d13c5.svg');
        display: inline-block;
        content: "";
        width: 24px;
        border: unset;
        height: 24px;
        margin-right: 6px;
        vertical-align: bottom;
      }

      &:hover {
        &:before {
          background: url('@public/assets/icons/ic_radio_hover.9f996444.svg');
        }
      }

      &.p-highlight {
        &:before {
          background: url('@public/assets/icons/ic_radio_active.68000fa3.svg');
        }
      }
    }
  }
}
