.ms-input {
  background: #fff;
  padding: 0;
}

.ms-editor {
  border-radius: 3.5px;
}

.ms-editor .border {
  border: 1px solid #e0e0e0;
  border-radius: 3.5px;
}

.ms-editor .border:hover {
  border-color: #1a73e8;
}

.ms-editor .border input {
  border-radius: 3.5px;
}

.ms-editor .border:not(.error):focus-within {
  border-color: #1a73e8;
}

.ms-input-item {
  border: none;
  padding: 9px 12px;
  background: 0 0;
  min-height: 36px;
}

.ms-input-item:focus {
  outline: none;
}

.input {
  font-size: 16px;
  color: #212121;
  line-height: 1.2;
  display: block;
  width: 100%;
  border: 1px solid #e0e5e9;
  background: transparent;
  padding: 10px;
  border-radius: 3px;
}

textarea:focus,
input:focus {
  border-color: #0073e6;
  transition: all .5s;
}

.p-inputtext {
  width: 100%;
  border-radius: 3.5px !important;
  font-family: GoogleSans, serif !important;
  font-size: 14px !important;
  color: #000 !important;
  display: flex;
  border: 1px solid #e0e0e0;
  align-items: center;
}

.p-inputtext:enabled:focus {
  box-shadow: none !important;
}

.p-inputtext:enabled:hover {
  border-color: #0073e6;
}

.p-inputtext.error {
  border: 1px solid #ef5350;
}

.p-password {
  display: flex;
  align-items: center;
  justify-content: center;
}

.p-inputtext.p-invalid.p-component {
  border-color: #e24c4c;
}


.p-input-icon-left > i,
.p-input-icon-right > i {
  top: 14px !important;
}

.p-password.error .p-inputtext {
  border: 1px solid #ef5350;
}

.ms-input_search {
  border: none;
}

/* input number */

.p-inputnumber {
  border: 1px solid var(--Gray-100);
  border-radius: 4px;

  &:hover {
    border-color: #1a73e8;
  }

  .p-inputtext {
    text-align: center;
    border: none;
    min-width: 10px;
  }

  .p-button {
    padding: unset;
    background: #fff;
    border: none;
    border-radius: 4px;
    height: 40px;

    &.p-button-icon-only {
      width: unset;
    }

    .pi {
      width: 16px;
      height: 16px;
      background-repeat: no-repeat;
      background-position: center;
      padding-left: 20px;
      padding-right: 20px;
    }

    .pi-minus {
      background-image: url('@public/assets/icons/minus.svg');
    }

    .pi-plus {
      background-image: url('@public/assets/icons/plus.svg');
    }
  }
}

/*input switch*/

.p-inputswitch {
  width: 36px;
  height: 20px;
  box-sizing: border-box;
  display: flex;
}

.p-inputswitch-slider {
  position: relative;
  width: 100%;
  height: 100%;
}

.p-inputswitch.p-inputswitch-checked .p-inputswitch-slider {
  background: var(--Primary-500);
}

.p-inputswitch .p-inputswitch-slider:before {
  width: 12px;
  height: 12px;
  top: 3px;
  margin-top: 0;
}

.p-inputswitch.p-inputswitch-checked .p-inputswitch-slider:before {
  transform: translateX(0.9rem);
}

.p-inputswitch.p-focus .p-inputswitch-slider {
  box-shadow: unset;
}

.p-checkbox, .p-radiobutton {
  width: 24px !important;
  height: 24px !important;

  .p-checkbox-input, .p-radiobutton-input {
    position: absolute;
    cursor: pointer;
    width: 24px;
    height: 24px;
    margin: 0;
    padding: 0;
    opacity: 0;
    z-index: 500;
  }

  .p-checkbox-box {
    background: url('@public/assets/icons/ic_checkbox_gray.545380ea.svg');
    display: inline-block;
    content: "";
    width: 100% !important;
    border: unset;
    height: 100% !important;
    vertical-align: bottom;
    position: relative;
  }

  .p-radiobutton-box {
    background: url('@public/assets/icons/ic_radio_inactive.478d13c5.svg');
    display: inline-block;
    content: "";
    width: 100% !important;
    border: unset;
    height: 100% !important;
    vertical-align: bottom;
    position: relative;
    border: unset !important;
  }

  .p-checkbox-input:not(:disabled):not(:checked):hover ~ .p-checkbox-box {
    cursor: pointer;
    background: url('@public/assets/icons/ic_checkbox_hover.d04300f4.svg');
  }

  .p-radiobutton-input:not(:disabled):not(:checked):hover ~ .p-radiobutton-box {
    cursor: pointer;
    background: url('@public/assets/icons/ic_radio_hover.9f996444.svg');
  }

  .p-checkbox-input:checked ~ .p-checkbox-box {
    .p-checkbox-icon {
      display: none;
    }

    background: url('@public/assets/icons/ic_checkbox_active.5a4982e1.svg');
  }

  .p-radiobutton-input:checked ~ .p-radiobutton-box {
    .p-radiobutton-icon {
      display: none;
    }

    background: url('@public/assets/icons/ic_radio_active.68000fa3.svg');
  }

}

.p-inputswitch.p-highlight .p-inputswitch-slider:before {
  transform: translateX(0.85rem);
}

.p-inputswitch.p-highlight .p-inputswitch-slider {
  background: #2979ff;
}